@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

h3, h4, h5 h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);